* {
    width: 100%;
}

body {
    height: 100vh;
    margin: 0px;
    /* background: black; */
}

header {
    height: 17vh;
    background: grey;
}

.a {
    height: 30vh;
    width: 70%;
    background: red;
}

section {
    margin-top: 3px;
    margin-bottom: 3px;
}

.b {
    height: 30vh;
    width: 70%;
    background: orange;
}

.c {
    height: 60vh;
    width: 30%;

    float: right;
    transform: translate(0%, -100%);


    background: yellow;
}

footer {
    height: 17vh;
    background: gray;
}

@media (min-width: 401px) and (max-width: 800px) {

    .a {
        height: 30vh;
        width: 50%;

    }

    .b {
        height: 30vh;
        width: 50%;

    }

    .c {
        height: 60vh;
        width: 50%;

        float: right;
        transform: translate(0%, -100%);
    }
}

@media (max-width: 400px) {
    header {
        height: 10vh;
    }

    section {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .a {
        height: 25vh;
        width: 100%;
    }

    .b {
        height: 25vh;
        width: 100%;
    }

    .c {
        float: none;
        transform: none;
        height: 25vh;
        width: 100%;
    }

    footer {
        height: 10vh;
    }

}